@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: var(--Color-Normal);
    outline: none;
}

:root{
    --Color-main: rgb(15, 15, 15);
    --Color-Normal: #fff;
    --Color-Button: #7a7474;
    --Bg-Button: #1C1C1C;
    --Boder: #3E3E3E;
    --Color-Basic: #7245FA;
    --Boder-Basic: #7245fa69;
}


body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--Color-main);
    justify-content: center;
    flex-direction: column;
    padding-inline: 15px;
}

main{
    background-color: var(--Bg-Button);
    padding: 8px 0px;
    border-radius: 7px;
    border: 1px solid var(--Boder);
}

.Anwsor{
    max-width: 500px;
    max-height: 0px;
    padding: 0px 20px;
    overflow: hidden;
    transition: all 0.3s ease;
    
}

.Anwsor.active{
    max-width: 500px;
    background-color: var(--Bg-Button);
    max-height: 120px;
    padding: 8px 20px;
}

.Question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Boder);
    padding-inline: 20px;
    cursor: pointer;
}

.Question span{
    font-size: 1.4rem;
}

.uil-angle-down{
    font-size: 2rem;
    transform: rotate(0deg);
    transition: all 0.3s;
}
.uil-angle-down.active{
    transform: rotate(180deg);
}

.Mokatil {
    color: var(--Color-Normal);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.Mokatil span {
    color: var(--Color-Normal);
    text-decoration: underline var(--Color-Basic);
    transition: all 0.3s;
    margin: 0;

}

.uil-twitter{
    color: var(--Color-Button);
    background-color: var(--Bg-Button);
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 7px;
    border: 1px solid var(--Boder);
    cursor: pointer;
    margin: 0;
    transition: all 0.3s;
}

.uil-twitter:hover {
    color: var(--Color-Normal);
    margin: 0;
    background-color: var(--Boder-Basic);
    border: 1px solid var(--Color-Basic);
}

.CopyRight{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Question1{
    border: 0;
}

.Question1.active{
    border-bottom: 1px solid var(--Boder);
}

.FQA{
    font-weight: 500;
    margin-bottom: 20px;
    background-color: #8c00ff50;
    padding: 8px 20px;
    border-radius: 7px;
    border: 1px solid #8c00ff;
}